@model FancySignup.ViewModels.SignupViewModel

<h2>Signup</h2>

<form method="post">

    <div>
        <label>Email</label>
        <input asp-for="Email" class="form-control" />
        <span asp-validation-for="Email" class="text-danger"></span>
    </div>

    <div>
        <label>First Name</label>
        <input asp-for="FirstName" class="form-control" />
        <span asp-validation-for="FirstName" class="text-danger"></span>
    </div>

    <div>
        <label>Last Name</label>
        <input asp-for="LastName" class="form-control" />
        <span asp-validation-for="LastName" class="text-danger"></span>
    </div>

    <div>
        <label>Country</label>
        <select asp-for="CountryId" asp-items="@(new SelectList(ViewBag.Countries, "CountryId", "Name"))" class="form-control">
        </select>
        <span asp-validation-for="CountryId" class="text-danger"></span>
    </div>

    <div>
        <label>Password</label>
        <input asp-for="Password" type="password" class="form-control" />
        <span asp-validation-for="Password" class="text-danger"></span>
    </div>

    <div>
        <label>Confirm Password</label>
        <input asp-for="ConfirmPassword" type="password" class="form-control" />
        <span asp-validation-for="ConfirmPassword" class="text-danger"></span>
    </div>
    <p></p>
    <button type="submit" class="btn btn-success">Signup</button>

</form>

@section Scripts {
    @await Html.PartialAsync("_ValidationScriptsPartial")
}
