@{
    ViewData["Title"] = "Pokedex";
}

<h1>Pokedex</h1>

<p>Pokedex is your one stop shop for all things pokemon. After going through our secure account creation and login you can search up and view and Pokemon out their.</p>

<p>
    Using our advanced system we have access to all 1,025 pokemon from across all the games and regions. You can search up them just by typing in their name or if your already now their ID number you can use that instead.
</p>
<p>
    First you need to create an account or use one you already made to login, only then can you use our Pokedex
</p>

<a href="/Account/Signup" class="btn btn-primary">Signup</a>
<a href="/Account/Login" class="btn btn-secondary">Login</a>
