@{
    ViewData["Title"] = "Privacy Policy";
}
<h1>@ViewData["Title"]</h1>

<p>Our login system is top of the line and the most secure it will every be. You can not sue me if your account is hacked. Sincerely Roy Corp</p>
